HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/*
.mvn/

/application/src/main/resources/*.properties
/mvnw.cmd

### Logs and Front end project ###
/logs/*
/web/logs/*
/node_modules/*
/web/src/main/resources/static/*
/package-lock.json
tokens/StoredCredential
web/src/main/resources/credentials.json
web/tokens/


node_modules
coverage
/public/*
package-lock.json
